
/* RESET */
img{
    max-width: 100%;
}

/* FONT GOOGLE */
body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.main-header{
    background-color:rgb(8, 60, 112);

    /* debug */
  min-width: 70px;
   
}

.ms_row{
    margin: 0 auto  ;
}

li{
    list-style: none;
}


tbody{
    font-size: 0.9rem;
}


/* MAIN */


/* SIDEBAR */

.ms_siderbar{
    height:calc(100vh - 70px );
    width:80px;
    background-image: url(../img/sidebar-bg.png);
        background-color:rgb(9, 33, 56); 
        color:white;
        font-size: 0.8rem;
    }


@media screen and (min-width: 992px){

    .ms_siderbar{
        width:140px;
    }

}

/* MAIN CONTENT */

.main-content{
    width: calc(100% - 80px);
    height: calc(100vh - 70px);

}


/* MAIN HEADER */

.main-header{
    background-color: white;
    height:70px;
}

.logo-mobile{
    width:60px
}


.search-bar{
  width: 100%;
 
}


/* JUMBOTRON */

.jumbotron{
    background-color: rgb(27, 114, 232);
    color: white;
}

.ms_badge{
    font-size: 0.6rem;
    background-color: rgb(22, 91, 186);
    border-radius: 25px;
    padding:0.2rem;
    margin-top: 0.3rem;
}



/* LEFT PART */

/* TABELLA NEXT CLASSES */


.class-avatar-img{
    width:1.2rem;
}

.row_title{
    padding-left: 0.2rem;
    font-weight: 500;
}

.btn{
    padding:0.2rem 0.4rem;
    scale: 0.9;
}


.faq{
    
    min-height:150px;
}



/* RIGHT PART */

.todo{
    
        min-height:150px;
}

.data{
       
    min-height:150px;
} 